{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration with KPIV</title>
</head>
<style>
 
</style>

<body>
   
    <p>Thank You, {{name}} </p>
    <p>We are so Glad, that you connected with us,</p>
    <p>We look forward to being a part of your career,</p>

    <p>Your Registration No :- <strong style="color: #1c3664">KPIV1000{{reg_number}}</strong></p>
    
</body>
</html>